<%- include('../../layouts/layoutStart.ejs', {title: title}) %>

<div class="container">
  <%- include('../../components/nav.ejs') %>

  <%- include('form.ejs', {book: book}) %>

</div>

<%- include('../../layouts/layoutEnd.ejs') %>